@model VayCayPlanner.Data.Models.Transport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDestinationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureDestinationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FromAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDatetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureDatetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredAirport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreferredAirport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDestinationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDestinationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDatetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDatetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerTraveler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CostPerTraveler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelGroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelGroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

