@model VayCayPlanner.Common.ViewModels.Transports.TripTransportsVM

@{
    ViewData["Title"] = "Index";
    var trip = ViewData["Trip"] as VayCayPlanner.Data.Models.Trip;
}

<div class="banner">
    <div class="row">
        <div class="col" style="text-align: left">
            <a asp-action="Index" asp-controller="Trips">Back to Trips</a>
        </div>
        <div class="col" style="text-align: right">
            <a asp-action="Index" asp-controller="Lodgings">Next</a>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <span>1 - Name Trip >  2 - Add a Destination >  3 - Add Travelers  >  <strong>4 - Transportation</strong></span><a></a>
    </div>
</div>
<hr />

<div class="row align-items-center">
    <div class="col" style="text-align: center">
        <br />
        <h4>Transports for @Model.TripName </h4>
        <br />
    </div>
</div>
<br />

<p>
    @*<a asp-action="Create" asp-route="@Model.TripId">Add New Transport</a>*@
</p>
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.DestinationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDestinationId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FromAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDatetime)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.PreferredAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDestinationId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerTraveler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TripTransports)
        {
            <tr>
@*                <td>
                    @Html.DisplayFor(modelItem => item.DestinationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDestinationId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FromAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDatetime)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.PreferredAirport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDestinationId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPerTraveler)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

