@model VayCayPlanner.Common.ViewModels.Destination.DestinationDetailVM
@{
    ViewData["Title"] = "Details";
}

<div class="banner">
    <div class="row">
        <div class="col" style="text-align: left">
            <a asp-action="Index" asp-controller="Home">Back</a>
        </div>
        <div class="col" style="text-align: right">
            <a asp-action="Index" asp-controller="Destinations" asp-route-id="@Model?.TripId">Next</a>
        </div>  
    </div>
    <div class="row" style="text-align: center">
        <span><strong>1 - Name Trip >  2 - Add a Destination >  3 - Add Travelers  > </strong> 4 - Transportation</span><a></a>
    </div>
</div>
<hr />

<div class="row align-items-center">
    <div class="col" style="text-align: center">
        <br />
        <h4>@Model.TripName</h4>
        <br />
    </div>
</div>
<br />

<div>
    <h4>Select the travelers that will be with you in @Model.City, @Model.Country</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DestinationTravelers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
@*                  <a asp-controller="Travelers" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Travelers" asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-controller="Destinations" asp-action="RemoveTraveler" asp-route-id="@item.Id" asp-route-id2="@Model.DestinationId" asp-route-id3="@Model.TripId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <form asp-action="AddTraveler">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TravelerId" class="control-label"></label>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TripId" />
            <input type="hidden" asp-for="TravelGroupId" />
            <select asp-for="TravelerId" asp-items="Model?.Travelers" class="form-select">
                <option>Select Travelers</option>
            </select>
            <span asp-validation-for="TripId" class="text-danger"></span>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary"/>                
            </div>
            <div class="col" style="text-align: right">

                <a asp-action="Index" asp-controller="Destinations" asp-route-id="@Model?.TripId">Next</a>
                         
            </div>
        </div>
    </form>
</div>

@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model?.TripId">Destinations</a> |
    <a asp-action="Index" asp-route-id="@Model?.TripId">Transporation</a>
</div>*@

