@model VayCayPlanner.Common.ViewModels.Destination.TripWithDestinationsVM

@{
    ViewData["Title"] = "Index";
}
<div class="banner">
    <div class="row">
        <div class="col" style="text-align: left">
            <a asp-action="Index" asp-controller="Trip">Back</a>
        </div>
        <div class="col" style="text-align: right">
            <a asp-action="Index" asp-controller="Trip" asp-route-id="@Model?.tripId">Next</a>
        </div>  
    </div>
    <div class="row" style="text-align: center">
        <span><strong>1 - Name Trip >  2 - Add a Destination > </strong> 3 - Add Travelers  >  4 - Transportation</span><a></a>
    </div>
</div>
<hr />

<div class="row align-items-center">
    <div class="col" style="text-align: center">
        <br />
        <h4>@Model.TripName</h4>
        <br />
    </div>
</div>
<br />

<p>
    <a asp-action="Create" asp-route-id="@Model.tripId">+ Destination</a>
</p>
<h3>Manage your trip Destinations</h3>
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TripDestinations)
        {
            <tr>
                @*changed item.TripId to item.TripName so the name of the trip *@
@*                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    ||<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |                    
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> ||
                    <a asp-action="Details" asp-route-id="@item.Id"> + Travelers</a> |
                    <a asp-action="AddTravelerTransports" asp-controller="Transports" asp-route-id="@item.Id"> + Transports</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id"> + Transportation</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id"> + Lodging</a> ||
                    
                </td>
            </tr>
        }
    </tbody>
</table>

