@model VayCayPlanner.Common.ViewModels.TravelGroupDetailVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TravelGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvitationKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvitationKey)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Travelers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    <a asp-controller="Travelers" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Travelers" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Travelers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit Group</a>  |
    <a asp-action="Index">My Group Memberships</a>  |
    <a asp-action="MyTravelGroups">My Travel Groups</a>  |
    <a asp-controller="Travelers" asp-action="Create">Add Travelers</a>
</div>
