@model VayCayPlanner.Data.Models.DeleteTripVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete your @Model.trip.TripName trip. This is permenant.</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TripName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trip.TripName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trip.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trip.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trip.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">            
            <strong>Total Destinations</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.destinations.Count)
        </dd>
        <dt class="col-sm-2">
            <strong>Total Travelers</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.travelers.Count)
        </dd>
        <dt class="col-sm-2">
            <strong>Associated Groups</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.travelerDestinations.Count)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
