@model VayCayPlanner.Common.ViewModels.Trip.TripDetailVM

@{
    ViewData["Title"] = "Details";
}
<div class="row align-items-center">
    <div class="col" style="text-align: center">
        <br />
        <h4>@Model.TripName</h4>
        <br />
    </div>
</div>
<br />


    <hr />
<div>
    <h4>Trip Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TripName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TripName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DaysUntilDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DaysUntilDeparture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destinations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destinations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Travelers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travelers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Destinations" asp-route-id="@Model?.Id">Destinations</a> |
    <a asp-action="Index">Back to List</a>
</div>

