@model IEnumerable<VayCayPlanner.Data.Models.Trip>


@{
    ViewData["Title"] = "My Upcoming Trips";
}

<div class="banner">
    <a></a><a asp-action="Index" asp-controller="Home">Back</a>
    <div class="row" style="text-align: center">
        <span><strong>1 - Name Trip >  2 - Add a Destination > </strong> 3 - Add Travelers  >  4 - Transportation</span><a></a>
    </div>
</div>
<hr />

<div class="row align-items-center">
    <div class="col" style="text-align: center">
        <br />
        <h4>My Trips</h4>
        <br />
    </div>
</div>
<br />

@*<h1>My Upcoming Trips</h1>*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>*@
                <td>
                    || <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |                    
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> ||
                    <a asp-action="Index" asp-controller="Destinations" asp-route-id="@item.Id">Destinations</a> |
                    <a asp-action="Index" asp-controller="Destinations" asp-route-id="@item.Id">Transportation</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> ||
                </td>
            </tr>
        }
    </tbody>
</table>

